.service {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.service__image {
	height: 138px;
	width: 138px;
}

.service__title {
	max-width: 262px;
}

.service__description {
	max-width: 262px;
	margin: 0;
}
